@media screen and (max-width: 851px){
   
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: flex;
    }
    .header-banner{
        padding-top: 50px;
    }
    .heeader-banner-content{
        width: 100%;
    }
    
    .about-us{
        padding: 30px 10px;
    }
        .about-us_card-container{
            flex-direction: column;
            align-items: center;
        }

        .about-us_text-contentholder,
    .about-us_card-holder{
        min-width: 350px;
        margin: 20px 0;

    }
    .foodcard_item{
        margin: 20px 0;

    }
    .faqs_item{
        min-width: 100%;
    }

        .faq_parallax{
            flex-direction: column;
        }


    footer{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .footer-icon_holder{
        margin: 20px 0;
    }
}




