@media screen and(max-width: 1120px){
    .faq__parallax{
        flex-direction: column;
    }

} 

footer{
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.footer-icon__holder{
    margin: 20px 0;
}
.faqs_item{
    min-width: 100px;
}